{% extends "CodeChallengeBundle::base.html.twig" %}

{% block title %}Book Shelf Form{% endblock %}

{% block body %}
<div id="style-switcher">
			<i class="icon-arrow-left icon-white"></i>
			<span>Style:</span>
			<a href="#grey" style="background-color: #555555;border-color: #aaaaaa;"></a>
			<a href="#blue" style="background-color: #2D2F57;"></a>
			<a href="#red" style="background-color: #673232;"></a>
		</div>
		
		<div id="content">
			<!-- CONTENT BEGIN -->
			<div id="content-header">
				<h1>Dashboard</h1>
				<!-- <div class="btn-group">
					<a class="btn btn-large tip-bottom" title="Manage Files"><i class="icon-file"></i></a>
					<a class="btn btn-large tip-bottom" title="Manage Users"><i class="icon-user"></i></a>
					<a class="btn btn-large tip-bottom" title="Manage Comments"><i class="icon-comment"></i><span class="label label-important">5</span></a>
					<a class="btn btn-large tip-bottom" title="Manage Orders"><i class="icon-shopping-cart"></i></a>
				</div -->>
			</div>
			<div id="breadcrumb">
				<a href="#" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a>
				<a href="#" class="current">Dashboard</a>
			</div>
			<div class="container-fluid">
		
				<div class="row-fluid">
					<div class="span12">
						<div class="alert alert-info">
							Welcome in the <strong>Book Shelf Admin</strong>. Don't forget to check all the pages!
							<a href="#" data-dismiss="alert" class="close">×</a>
						</div>
						
						<div class="widget-box">
							<div class="widget-title">
								<span class="icon">
									<i class="icon-align-justify"></i>									
								</span>
								<h5>Add / Edit Book</h5>
							</div>
							<div class="widget-content nopadding">
								<!-- <form action="#" method="get" class="form-horizontal">
									<div class="control-group">
										<label class="control-label">Book Name: </label>
										<div class="controls">
											<input type="text" />
										</div>
									</div>
									<div class="control-group">
										<label class="control-label">Book Author: </label>
										<div class="controls">
											<input type="text" />
										</div>
									</div>
									
									
																		
									<div class="form-actions">
										<button type="submit" class="btn btn-primary">Save</button>
									</div>
								</form> -->

							{{ form_start(form, {'attr' : {'class': "form-horizontal"}}) }}
						    {{ form_errors(form) }}
							<div class="control-group">
								{{ form_label(form.name, 'Name', {'label_attr': {'class': 'control-label'}}) }}
								<div class="controls">
						    {{ form_widget(form.name) }}
						</div>
						</div>
						<div class="control-group">
								{{ form_label(form.author, 'Author', {'label_attr': {'class': 'control-label'}}) }}
								<div class="controls">
						    {{ form_widget(form.author) }}
						</div>
						</div>
						    <div class="form-actions">
							{{ form_end(form, {'attr' : {'class': "btn btn-primary"}}) }}
						</div>

							

							</div>
						</div>						
					</div>				
					</div>
				</div>
				<div class="row-fluid">
			
				<div class="row-fluid">
					<div id="footer" class="span12">
						2015 &copy; Unicorn Admin.
					</div>
				</div>
			</div> <!-- END CONTAINER-FLUID -->
		</div> <!-- END CONTENT -->
{% endblock %}
