{% extends 'CodeChallengeBundle::base.html.twig' %}

{% block title %}CodeChallengeBundle:BookShelf:index{% endblock %}

{% block body %}
<div id="style-switcher">
			<i class="icon-arrow-left icon-white"></i>
			<span>Style:</span>
			<a href="#grey" style="background-color: #555555;border-color: #aaaaaa;"></a>
			<a href="#blue" style="background-color: #2D2F57;"></a>
			<a href="#red" style="background-color: #673232;"></a>
		</div>
		
		<div id="content">
			<!-- CONTENT BEGIN -->
			<div id="content-header">
				<h1>Dashboard</h1>
				<!-- <div class="btn-group">
					<a class="btn btn-large tip-bottom" title="Manage Files"><i class="icon-file"></i></a>
					<a class="btn btn-large tip-bottom" title="Manage Users"><i class="icon-user"></i></a>
					<a class="btn btn-large tip-bottom" title="Manage Comments"><i class="icon-comment"></i><span class="label label-important">5</span></a>
					<a class="btn btn-large tip-bottom" title="Manage Orders"><i class="icon-shopping-cart"></i></a>
				</div> -->
			</div>
			<div id="breadcrumb">
				<a href="#" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a>
				<a href="#" class="current">Dashboard</a>
			</div>
			<div class="container-fluid">
		
				<div class="row-fluid">
					<div class="span12">
						<div class="alert alert-info">
							Welcome in the <strong>Book Shelf Admin</strong>.
							<a href="#" data-dismiss="alert" class="close">×</a>
						</div>
								<a href="/bookshelf/create" class="btn btn-primary">Add Book</a>
						<div class="widget-box">
							
							<div class="widget-title">
							
								<h5>Dynamic table</h5>

							</div>
							<div class="widget-content nopadding">
								<table class="table table-bordered data-table">
									<thead>
									<tr>
									<th>Book</th>
									<th>Author</th>
									
									<th>Edit</th>
									<th>Delete</th>
									
									</tr>
									</thead>
									<tbody>
									{%  for book in books %}
									<tr class="gradeX">
									<td>
									    {{book.name }}
									</td>
									<td>{{book.name }}</td>
									<td class="center"><a href="/bookshelf/form/{{ book.id }}" class="btn btn-primary">Edit</a></td>
									<td class="center"><a href="/bookshelf/delete/{{ book.id }}" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete?');">Delete</a></td>
									</tr>
									{% endfor %}
									
									</tbody>
									</table>  
							</div>
					
						</div>					
					</div>
				</div>
				<div class="row-fluid">
			
				<div class="row-fluid">
					<div id="footer" class="span12">
						2015 &copy; 
					</div>
				</div>
			</div> <!-- END CONTAINER-FLUID -->
		</div> <!-- END CONTENT -->
{% endblock %}
