{% extends "CodeChallengeBundle::base.html.twig" %}

{% block title %}CodeChallengeBundle:BookShelf:update{% endblock %}

{% block body %}
<h1>Welcome to the BookShelf:update page</h1>
{% endblock %}
