<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}{% endblock %}</title>
		<meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="{{ asset('bundles/codechallenge/css/bootstrap.min.css') }}" />
		<link rel="stylesheet" href="{{ asset('bundles/codechallenge/css/bootstrap-responsive.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/codechallenge/css/unicorn.login.css') }}" />
    </head>
    <body>
        <div id="logo">
            <img src="img/logo.png" alt="" />
        </div>
        <div id="loginbox"> 
        {% if error %}
            <div class="error">{{ error.message }}</div>
        {% endif %}           
            <form id="loginform" class="form-vertical" action="{{ path("code_challenge_login") }}">
				<p>Enter username and password to continue.</p>
                {% if error %}
                    <div class="error">{{ error.message }}</div>
                {% endif %}  
                <div class="control-group">
                    <div class="controls">
                        <div class="input-prepend">
                            <span class="add-on"><i class="icon-user"></i></span><input type="text" placeholder="Username" />
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <div class="input-prepend">
                            <span class="add-on"><i class="icon-lock"></i></span><input type="password" placeholder="Password" />
                        </div>
                    </div>
                </div>
                <div class="form-actions">
                    <span class="pull-left"><a href="#" class="flip-link" id="to-recover">Lost password?</a></span>
                    <span class="pull-right"><input type="submit" class="btn btn-inverse" value="Login" /></span>
                </div>
            </form>
            <form id="recoverform" action="#" class="form-vertical">
				<p>Enter your e-mail address below and we will send you instructions how to recover a password.</p>
				<div class="control-group">
                    <div class="controls">
                        <div class="input-prepend">
                            <span class="add-on"><i class="icon-envelope"></i></span><input type="text" placeholder="E-mail address" />
                        </div>
                    </div>
                </div>
                <div class="form-actions">
                    <span class="pull-left"><a href="#" class="flip-link" id="to-login">&lt; Back to login</a></span>
                    <span class="pull-right"><input type="submit" class="btn btn-inverse" value="Recover" /></span>
                </div>
            </form>
        </div>
        
        <script src=" {{ asset('bundles/CodeChallenge/js/jquery.min.js') }}"></script>  
        <script src=" {{ asset('bundles/codechallenge/js/unicorn.login.js') }}"></script> 
    </body>
</html>
