<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{%block title%}{% endblock %}</title>
		<meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        {% block stylesheets %}{% endblock %}
		<link rel="stylesheet" href="{{ asset('bundles/codechallenge/css/bootstrap.min.css') }}" />
		<link rel="stylesheet" href="{{ asset('bundles/codechallenge/css/bootstrap-responsive.min.css') }}" />
		<link rel="stylesheet" href="{{ asset('bundles/codechallenge/css/fullcalendar.css') }}" />	
		<link rel="stylesheet" href="{{ asset('bundles/codechallenge/css/unicorn.main.css') }}" />
		<link rel="stylesheet" href="{{ asset('bundles/codechallenge/css/uniform.css') }}" />
		<link rel="stylesheet" href="{{ asset('bundles/codechallenge/css/select2.css') }}" />
		<link rel="stylesheet" href="{{ asset('bundles/codechallenge/css/unicorn.grey.css') }}" class="skin-color" />
		<link rel="icon" type="image/x-icon" href="{{ asset('bundles/codechallenge/favicon') }}">
	</head>
	<body>
		
		{% block sidebar %}




<div id="header">
			<h1><a href="./dashboard.html">Book Shelf Admin</a></h1>		
		</div>
		
		<!-- <div id="search">
			<input type="text" placeholder="Search here..."/><button type="submit" class="tip-right" title="Search"><i class="icon-search icon-white"></i></button>
		</div> -->
		<!-- <div id="user-nav" class="navbar navbar-inverse">
            <ul class="nav btn-group">
                <li class="btn btn-inverse" ><a title="" href="#"><i class="icon icon-user"></i> <span class="text">Profile</span></a></li>
                <li class="btn btn-inverse dropdown" id="menu-messages"><a href="#" data-toggle="dropdown" data-target="#menu-messages" class="dropdown-toggle"><i class="icon icon-envelope"></i> <span class="text">Messages</span> <span class="label label-important">5</span> <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a class="sAdd" title="" href="#">new message</a></li>
                        <li><a class="sInbox" title="" href="#">inbox</a></li>
                        <li><a class="sOutbox" title="" href="#">outbox</a></li>
                        <li><a class="sTrash" title="" href="#">trash</a></li>
                    </ul>
                </li>
                <li class="btn btn-inverse"><a title="" href="#"><i class="icon icon-cog"></i> <span class="text">Settings</span></a></li>
                <li class="btn btn-inverse"><a title="" href="login.html"><i class="icon icon-share-alt"></i> <span class="text">Logout</span></a></li>
            </ul>
        </div> -->
            
		<div id="sidebar">
			<a href="/" class="visible-phone"><i class="icon icon-home"></i> Dashboard</a>
			<ul>
				<li class="active"><a href="/bookshelf"><i class="icon icon-home"></i> <span>Dashboard</span></a></li>
				<li><a href="/bookshelf"><i class="icon icon-pencil"></i> <span>View Books</span></a></li>
				
			</ul>
		
		</div>
		{% endblock %}
		{% block body %} Body from base.{% endblock %}

		{% block javascripts %}

		<script src="{{ asset('bundles/fosjsrouting/js/router.js')}}"></script>
		<script scr="{{ path('fos_js_routing_js', {'callback': 'fos_.Router.setData'}) }}"></script>




            <script src="{{ asset('bundles/codechallenge/js/excanvas.min.js') }}"></script>
            <script src="{{ asset('bundles/codechallenge/js/jquery.min.js') }}"></script>
            <script src="{{ asset('bundles/codechallenge/js/jquery.ui.custom.js') }}"></script>
            <script src="{{ asset('bundles/codechallenge/js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('bundles/codechallenge/js/jquery.flot.min.js') }}"></script>
            <script src="{{ asset('bundles/codechallenge/js/jquery.flot.resize.min.js') }}"></script>
            <script src="{{ asset('bundles/codechallenge/js/jquery.peity.min.js') }}"></script>
            <script src="{{ asset('bundles/codechallenge/js/fullcalendar.min.js') }}"></script>
            <script src="{{ asset('bundles/codechallenge/js/unicorn.dashboard.j') }}"></script>
			<script src="{{ asset('bundles/codechallenge/js/jquery.uniform.js') }}"></script>
            <script src="{{ asset('bundles/codechallenge/js/select2.min.js') }}"></script>
            <script src="{{ asset('bundles/codechallenge/js/jquery.dataTables.min.js') }}"></script>
            <script src="{{ asset('bundles/codechallenge/js/unicorn.js') }}"></script>
            
            <script src="{{ asset('bundles/codechallenge/js/unicorn.tables.js') }}"></script>

		{% endblock %}
	</body>
</html>